<div class="hero text-center w-min-fit py-10 bg-base-200">
  <div class="hero-content flex-col">
    <div class="prose text-3xl mb-5">
      <h2 class="text-base-content">Edit profile</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,
                 class: "card flex-shrink-0 w-full max-w-fit shadow-2xl bg-base-100" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card-body">
        <div class="flex flex-col lg:flex-row">
          <div class="lg:mx-10">
            <div class="form-control">
              <div class="label">
                <%= f.label :nickname, class: "label-text" %>
              </div>
              <%= f.text_field :nickname, autofocus: true, class: "input input-bordered" %>
            </div>

            <div class="form-control">
              <div class="label">
                <%= f.label :name, class: "label-text" %>
              </div>
              <%= f.text_field :name, class: "input input-bordered" %>
            </div>

            <div class="form-control">
              <div class="label">
                <%= f.label :bio, class: "label-text" %>
              </div>
              <%= f.text_area :bio, class: "textarea textarea-bordered" %>
            </div>

            <div class="form-control">
              <div class="label">
                <%= f.label :email, class: "label-text" %>
              </div>
              <%= f.email_field :email, autocomplete: "email", class: "input input-bordered" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>

          <div class="divider lg:divider-horizontal"></div>

          <div class="lg:mx-10">
            <div class="form-control">
              <div class="label">
                <%= f.label :password, class: "label-text" %>
                <% if @minimum_password_length %>
                  <em class="label-text-alt">(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
              <label class="label">
                <i class="label-text-alt">(leave blank if you don't want to change it)</i>
              </label>
            </div>

            <div class="form-control">
              <div class="label">
                <%= f.label :password_confirmation, class: "label-text" %><br/>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
            </div>

            <div class="form-control">
              <div class="label">
                <%= f.label :current_password, class: "label-text" %>
              </div>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered" %>
              <div class="label">
                <i class="label-text-alt">(we need your current password to confirm your changes)</i>
              </div>
            </div>
            <p class="text-xs mt-4">Unhappy?
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'link link-hover link-primary' %>
            </p>
          </div>
        </div>

        <div class="mt-10">
          <%= f.submit "Update", class: 'btn btn-wide btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>



