<% @posts.each do |post| %>
  <li class="card md:w-3/4 lg:w-1/2 max-w-fit bg-base-100 md:shadow-xl mb-16 mx-auto">
    <div class="card-body p-3 pl-8">
      <h2 class="font-bold"><%= link_to post.user.nickname, user_path(post.user) %></h2>

    </div>
    <figure class="bg-base-300 min-w-[50%] max-w-full">
      <%= image_tag post.image_url(:square) %>
    </figure>
    <div data-controller="counter"
         data-counter-score-value="<%= post.likes.count %>"
         class="card-body pt-4">
      <div class="flex flex-row gap-2">
        <%= render partial: 'likes/likeable', locals: { likeable: post } %>
        <label for="comment-btn" class="btn btn-sm btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
        </label>
      </div>
      <div>
        <label for="likeable-<%= post.id %>" class="text-sm font-bold mb-1 cursor-pointer"><span data-counter-target="score"></span> likes</label>
        <%= render partial: 'likes/likeable_list', locals: { likeable: post }  %>
      </div>
      <p>
        <span class="link link-hover font-bold"><%= link_to post.user.nickname, user_path(post.user) %></span>
        <%= render partial: 'shared/truncator', locals: { content: post.description, length: 110 } %>
      </p>
      <div data-controller="comment"
           data-comment-disabled-class="btn-disabled"
           data-comment-url-value="<%= post_comments_path(post) %>">
        <ul data-comment-target="comments">
        </ul>
        <p class="link link-hover text-sm text-gray-400 mb-2"><%= link_to "View all comments", post_path(post) %></p>
        <p class="uppercase text-xs text-gray-400 mb-2"><%= time_ago_in_words(post.created_at) %> ago</p>
        <%= render "comments/form" %>
      </div>
    </div>
  </li>
<% end %>