<li class="card w-96 bg-base-100 shadow-xl mx-auto md:min-w-[50%]">
    <div class="card-body p-3 pl-8">
      <h2 class="font-bold"><%= link_to post.user.nickname, user_path(post.user) %></h2>

    </div>
    <figure class="bg-base-200">
      <%= image_tag post.image_url, class: "w-full" %>
    </figure>
    <div class="card-body">
      <%= render partial: 'likes/likeable', locals: { likeable: post } %>
      <div>
        <span class="link link-hover font-bold"><%= link_to post.user.nickname, user_path(post.user) %></span>
        <%= render partial: 'shared/truncator', locals: { content: post.description, length: 110 } %>
      </div>
      <div data-controller="comment"
           data-comment-disabled-class="btn-disabled"
           data-comment-url-value="<%= post_comments_path(post) %>">
        <ul data-comment-target="comments">
          <%= render post.comments  %>
        </ul>
        <span class="uppercase text-xs"><%= time_ago_in_words(post.created_at) %> ago</span>
        <%= render "comments/form" %>
      </div>
    </div>
</li>