<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= image_tag post.image_url %>
      <p><%= post.description %></p>
      <small>Post by <%= post.user.nickname %></small>
      <br><br>
      <strong>Comments:</strong>
      <ul id="comments">
        <%= render post.comments  %>
      </ul>
      <%= render partial: 'comments/form', locals: { post: post } %>
    </li>
  <% end %>
</ul>
