<div class="min-h-fit py-10 md:px-12 bg-base-200">
  <div class="card lg:card-side max-w-fit bg-base-100 shadow-xl mx-auto">
    <div class="lg:hidden card-body p-3 pl-8">
      <h2 class="font-bold"><%= link_to @post.user.nickname, user_path(@post.user) %></h2>
    </div>

    <figure class="bg-base-300 min-w-[50%] max-w-full">
      <%= image_tag @post.image_url(:square) %>
    </figure>

    <div data-controller="comment"
         data-comment-disabled-class="btn-disabled"
         data-comment-url-value="<%= post_comments_path(@post) %>"
         class="card-body min-w-[50%] lg:max-w-2xl flex flex-col justify-between divide-y divide-solid divide-slate-400/25 p-0">
      <div class="hidden lg:block px-10 pt-5 pb-3">
        <h2 class="font-bold"><%= link_to @post.user.nickname, user_path(@post.user) %></h2>
      </div>

      <div class="flex-grow p-10 py-5 overflow-auto h-48">
        <div class="mb-5">
          <p class="mb-2">
            <span class="font-bold"><%= link_to @post.user.nickname, user_path(@post.user) %></span>
            <%= @post.description %>
          </p>
          <p class="uppercase text-xs text-gray-400"><%= time_ago_in_words(@post.created_at) %> ago</p>
        </div>
        <ul data-comment-target="comments">
          <%= render @post.comments  %>
        </ul>
      </div>

      <div data-controller="counter"
           data-counter-score-value="<%= @post.likes.count %>"
           class="p-10 py-5">
        <div class="flex flex-row gap-2 mb-2">
          <%= render partial: 'likes/likeable', locals: { likeable: @post } %>
          <label for="comment-btn" class="btn btn-sm btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
          </label>
        </div>
        <div>
          <label for="likeable-<%= @post.id %>" class="text-sm font-bold mb-1 cursor-pointer"><span data-counter-target="score"></span> likes</label>
          <%= render partial: 'likes/likeable_list', locals: { likeable: @post }  %>
        </div>
        <p class="uppercase text-xs text-gray-400 mb-4"><%= time_ago_in_words(@post.created_at) %> ago</p>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>